@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow: overlay;
  }

  ::-webkit-scrollbar {
    width: 2em; /* Total width including `border-width` of scrollbar thumb */
    height: 0;
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    height: 1em;
    border: 0.7em solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .shadow-custom {
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
  }

  nav.active {
    @apply bg-white/90 backdrop-blur-md transition-all shadow-md;
  }

  nav a {
    @apply text-white/80 font-normal;
  }

  nav a.active {
    @apply text-white font-medium relative after:absolute after:left-0 after:right-0 after:h-[3px] after:w-2/3 after:rounded-full after:mx-auto after:bg-white after:-bottom-2;
  }

  nav.active a {
    @apply text-black font-normal;
  }

  nav.active a.active {
    @apply text-black after:bg-black font-medium;
  }

  .navMobile a {
    @apply text-black/80 font-normal;
  }

  .navMobile a.active {
    @apply text-black font-medium relative after:absolute after:left-0 after:right-0 after:h-[3px] after:w-2/3 after:rounded-full after:mx-auto after:bg-white after:-bottom-2;
  }

  .navMobile a {
    @apply text-black font-normal;
  }

  .navMobile a.active {
    @apply text-black after:bg-black font-medium;
  }
}